Flujos nodeRed/flows IOTbit 01-05.json
[{"id":"4c0dec7e.b587a4","type":"tab","label":"IOTbit 01 - 05","disabled":false,"info":""},{"id":"7fb04a08.d1edf4","type":"switch","z":"4c0dec7e.b587a4","name":"Disparador rele","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"str"},{"t":"lte","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1840,"wires":[["341cf87b.a6b6d8"],["d9e28ec9.9cb1e"]]},{"id":"1cc0500b.d6f87","type":"mqtt in","z":"4c0dec7e.b587a4","name":"","topic":"IOTbit01/Temp","qos":"2","datatype":"auto","broker":"9f1d3022.c9017","nl":false,"rap":true,"rh":0,"x":140,"y":1940,"wires":[["8a280989.efea38","f2fe6fea.26ae2"]]},{"id":"98a31174.b4007","type":"debug","z":"4c0dec7e.b587a4","name":"Depuracion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1940,"wires":[]},{"id":"d63636a4.d43558","type":"influxdb out","z":"4c0dec7e.b587a4","influxdb":"ccee62f0.fb612","name":"grabar datos","measurement":"iotbit01_temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":610,"y":2040,"wires":[]},{"id":"8a280989.efea38","type":"change","z":"4c0dec7e.b587a4","name":"Conversión a número","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1940,"wires":[["98a31174.b4007","d63636a4.d43558","7fb04a08.d1edf4"]]},{"id":"eede7dab.9b3c5","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele On","topic":"IOTbit01/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1000,"y":1760,"wires":[]},{"id":"db825706.2c5198","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele Off","topic":"IOTbit01/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1000,"y":1880,"wires":[]},{"id":"341cf87b.a6b6d8","type":"change","z":"4c0dec7e.b587a4","name":"Set On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1760,"wires":[["eede7dab.9b3c5","3fd6562e.1e889a"]]},{"id":"d9e28ec9.9cb1e","type":"change","z":"4c0dec7e.b587a4","name":"Set Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1880,"wires":[["db825706.2c5198","3fd6562e.1e889a"]]},{"id":"3fd6562e.1e889a","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":1820,"wires":[]},{"id":"f2fe6fea.26ae2","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":2020,"wires":[]},{"id":"590417ee.9da59","type":"switch","z":"4c0dec7e.b587a4","name":"Disparador rele","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"str"},{"t":"lte","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":2220,"wires":[["5513b3fb.c178cc"],["89714cfb.e8d5f"]]},{"id":"a6c1ff37.5373d","type":"mqtt in","z":"4c0dec7e.b587a4","name":"","topic":"IOTbit03/Temp","qos":"2","datatype":"auto","broker":"9f1d3022.c9017","nl":false,"rap":true,"rh":0,"x":200,"y":2320,"wires":[["5547ec54.c95324","e34403f2.ddd328"]]},{"id":"ce4cb415.cf1bd8","type":"debug","z":"4c0dec7e.b587a4","name":"Depuracion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2320,"wires":[]},{"id":"ec5bbcb6.34b0b","type":"influxdb out","z":"4c0dec7e.b587a4","influxdb":"ccee62f0.fb612","name":"grabar datos","measurement":"iotbit03_temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":2420,"wires":[]},{"id":"5547ec54.c95324","type":"change","z":"4c0dec7e.b587a4","name":"Conversión a número","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2320,"wires":[["ce4cb415.cf1bd8","ec5bbcb6.34b0b","590417ee.9da59"]]},{"id":"8023c6ee.a6a8a","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele On","topic":"IOTbit03/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1060,"y":2140,"wires":[]},{"id":"53b9d30e.b03f2c","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele Off","topic":"IOTbit03/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1060,"y":2260,"wires":[]},{"id":"5513b3fb.c178cc","type":"change","z":"4c0dec7e.b587a4","name":"Set On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2140,"wires":[["8023c6ee.a6a8a","319bde30.4ca66a"]]},{"id":"89714cfb.e8d5f","type":"change","z":"4c0dec7e.b587a4","name":"Set Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2260,"wires":[["53b9d30e.b03f2c"]]},{"id":"319bde30.4ca66a","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":2200,"wires":[]},{"id":"e34403f2.ddd328","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":2400,"wires":[]},{"id":"8adf029a.9b2d2","type":"switch","z":"4c0dec7e.b587a4","name":"Disparador rele","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"str"},{"t":"lte","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":2600,"wires":[["820e023f.fba05"],["e067432a.4bc0a8"]]},{"id":"f23104ab.2f0708","type":"mqtt in","z":"4c0dec7e.b587a4","name":"","topic":"IOTbit04/Temp","qos":"2","datatype":"auto","broker":"9f1d3022.c9017","nl":false,"rap":true,"rh":0,"x":200,"y":2700,"wires":[["c0bf4f5b.f682c","fb581871.a7d34"]]},{"id":"a8affa2f.e2aea","type":"debug","z":"4c0dec7e.b587a4","name":"Depuracion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":2700,"wires":[]},{"id":"ef18e24d.3ec15","type":"influxdb out","z":"4c0dec7e.b587a4","influxdb":"ccee62f0.fb612","name":"grabar datos","measurement":"iotbit04_temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":2800,"wires":[]},{"id":"c0bf4f5b.f682c","type":"change","z":"4c0dec7e.b587a4","name":"Conversión a número","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2700,"wires":[["a8affa2f.e2aea","ef18e24d.3ec15","8adf029a.9b2d2"]]},{"id":"2af8387f.e7da1","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele On","topic":"IOTbit04/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1060,"y":2520,"wires":[]},{"id":"7a5679ed.09ada8","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele Off","topic":"IOTbit04/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1060,"y":2640,"wires":[]},{"id":"820e023f.fba05","type":"change","z":"4c0dec7e.b587a4","name":"Set On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2520,"wires":[["2af8387f.e7da1","7dfe655d.83201c"]]},{"id":"e067432a.4bc0a8","type":"change","z":"4c0dec7e.b587a4","name":"Set Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2640,"wires":[["7a5679ed.09ada8","7dfe655d.83201c"]]},{"id":"7dfe655d.83201c","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":2580,"wires":[]},{"id":"fb581871.a7d34","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":2780,"wires":[]},{"id":"bb7afdcc.e58638","type":"switch","z":"4c0dec7e.b587a4","name":"Disparador rele","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"},{"t":"lte","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":2960,"wires":[["e0814110.080318"],["8c11edca.6c9ab8"]]},{"id":"e258711e.6628f","type":"mqtt in","z":"4c0dec7e.b587a4","name":"","topic":"IOTbit05/Temp","qos":"2","datatype":"auto","broker":"9f1d3022.c9017","nl":false,"rap":true,"rh":0,"x":260,"y":3060,"wires":[["4d271551.1cd0ac","7d9fc85c.ff46d"]]},{"id":"e6e1a30.d1f6d6","type":"debug","z":"4c0dec7e.b587a4","name":"Depuracion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":3060,"wires":[]},{"id":"9cce8cc2.67994","type":"influxdb out","z":"4c0dec7e.b587a4","influxdb":"ccee62f0.fb612","name":"grabar datos","measurement":"iotbit05_temp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":3160,"wires":[]},{"id":"4d271551.1cd0ac","type":"change","z":"4c0dec7e.b587a4","name":"Conversión a número","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":3060,"wires":[["e6e1a30.d1f6d6","9cce8cc2.67994","bb7afdcc.e58638"]]},{"id":"20561479.eb0bf4","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele On","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1120,"y":2880,"wires":[]},{"id":"3e8fd8e0.37a138","type":"mqtt out","z":"4c0dec7e.b587a4","name":"Rele Off","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9f1d3022.c9017","x":1120,"y":3000,"wires":[]},{"id":"e0814110.080318","type":"change","z":"4c0dec7e.b587a4","name":"Set On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"IOTbit05/rele","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2900,"wires":[["658dc701.67ada","20561479.eb0bf4"]]},{"id":"8c11edca.6c9ab8","type":"change","z":"4c0dec7e.b587a4","name":"Set Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"IOTbit05/rele","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":3000,"wires":[["3e8fd8e0.37a138","658dc701.67ada"]]},{"id":"658dc701.67ada","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":2940,"wires":[]},{"id":"7d9fc85c.ff46d","type":"debug","z":"4c0dec7e.b587a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":3140,"wires":[]},{"id":"9f1d3022.c9017","type":"mqtt-broker","name":"raspi4 - 127","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ccee62f0.fb612","type":"influxdb","hostname":"192.168.1.100","port":"8086","protocol":"http","database":"micasa","name":"raspi4","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]